 /*
    Challenge:
    Follow my orders on where we should
    leave up our lab equipment!
    
    justify-content:
    start, center, end, space-around, 
    space-evenly, space-between
    
    align-items:
    start, center, end
    */