body {
    margin: 20px;
}

.avatar{
    width: 150px;
    border: 1px dotted blue;
}

.card{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px
    display: flex;
     /*
    Challenge:
    Add horizontal space around the flex children.
    Hint: google "justify content"
    */
    justify-content: space-around; /* space-around, space-between, center, end, start*/
}

.border-blue{
    border: 1px dotted blue;
}

