/*
Challenge:
Select the img tag and set the width of the Google logo to be 300px.
*/
.main{
    margin-top: 100px;
}

/*
Challenge- part 2:
    Replace the element selectors with class sleectors */
.logo-img{
    /*Challenge: 
    Add some space (margin) above our image: 
    Do you remember how we added spacing in the cokie widget example?
    */
    display:block;
    width:300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}

